@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@200&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 52px;
  line-height: 44px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-size: 20px;
  font-weight: 700;
}

p {
  font-size: 24px;
  color: #465b52;
  margin: 15px 0px 20px 0px;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0px;
}

button.normal {
  font-size: 24px;
  font-weight: 600;
  border: none;
  outline: none;
  padding: 15px 30px;
  color: #000;
  background-color: #fff;
  cursor: pointer;
  border-radius: 4px;
  transition: 0.2s ease;
}

button.white {
  font-size: 24px;
  font-weight: 600;
  border: 1px solid #fff;
  outline: none;
  padding: 11px 18px;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
  transition: 0.2s ease;
}

body {
  width: 100%;
}

/* header start */

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background: #e3e6f3;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0%;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  padding: 0px 23px;
  position: relative;
}

#navbar li a {
  font-size: 21px;
  font-weight: 600;
  color: #222;
  transition: 0.5s ease;
}

#navbar li a:hover,
#navbar li a.active {
  color: skyblue;
}

#navbar li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background: skyblue;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

/* home page start */

#hero {
  background-image: url("../img/hero4.png");
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-position: top 25% right 0;
  padding: 0px 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#hero h4 {
  font-size: 49px;
  padding-bottom: 25px;
}

#hero h2 {
  font-size: 64px;
}

#hero h1 {
  font-size: 74px;
  color: #088178;
  padding: 20px 0px 0px 0px;
}

#hero button {
  background-image: url(../img/button.png);
  background-color: transparent;
  color: #088178;
  border: 0;
  font-size: 24px;
  background-repeat: no-repeat;
  cursor: pointer;
  font-weight: 700;
  padding: 14px 80px 14px 65px;
}

/* feture start */

#feture .fe-box {
  width: 180px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
  border: 1px solid #088178;
  border-radius: 4px;
  margin: 15px 0px;
}

#feture .fe-box:hover {
  box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}

#feture {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
#feture .fe-box h6 {
  color: #088178;
  display: inline-block;
  background-color: #fddde4;
  padding: 10px 8px 10px 8px;
  line-height: 1;
  border-radius: 4px;
}

#feture .fe-box img {
  width: 100%;
  margin-bottom: 10px;
}

#feture .fe-box:nth-child(2) h6 {
  background-color: #e3e6f3;
}

#feture .fe-box:nth-child(2) h6 {
  background-color: #e3e6f3;
}

#feture .fe-box:nth-child(4) h6 {
  background-color: bisque;
}

#feture .fe-box:nth-child(5) h6 {
  background-color: aqua;
}

#feture .fe-box:nth-child(6) h6 {
  background-color: aliceblue;
}

/* product start */

#product1 {
  text-align: center;
}

#product1 .pro {
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 0px;
  transition: 0.2s ease;
  position: relative;
}

#product1 .pro:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#product1 .pro img {
  width: 100%;
  border-radius: 20px;
}

#product1 .pro .des {
  text-align: start;
  padding: 10px 0px;
}

#product1 .pro .des span {
  color: #606063;
  font-size: 24px;
}

#product1 .pro .des h5 {
  color: #1a1a1a;
  padding-top: 10px;
  font-size: 28px;
}

#product1 .pro .des i {
  font-size: 24px;
  color: rgb(243, 181, 25);
}

#product1 .pro .des h4 {
  font-size: 24px;
  font-weight: 700;
  padding-top: 10px;
  color: #088178;
}

#product1 .pro .cart {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #e8f6ea;
  font-weight: 500;
  color: #088178;
  position: absolute;
  bottom: 20px;
  right: 40px;
}

#product1 .pro-container {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  flex-wrap: wrap;
}
#banner {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-image: url("../img/banner/b2.jpg");
  width: 100%;
  height: 40vh;
  background-size: cover;
}

#banner h4 {
  font-size: 28px;
  color: #fff;
}

#banner h2 {
  font-size: 50px;
  color: #fff;
  padding: 22px 0;
}

#banner h2 span {
  color: #ef3636;
  font-weight: 600;
}

#banner button:hover {
  color: #fff;
  background: #088178;
}

#sm-banner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#sm-banner .banner-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
  background-image: url("../img/banner/b17.jpg");
  width: 650px;
  height: 50vh;
  background-size: cover;
  transition: 0.2s ease;
}

#sm-banner .banner-box2 {
  background-image: url(../img/banner/b10.jpg);
}
#sm-banner h4 {
  font-size: 28px;
  font-weight: 300;
  color: #fff;
}

#sm-banner h2 {
  font-size: 48px;
  font-weight: 800;
  color: #fff;
  padding: 12px 0;
}

#sm-banner span {
  font-size: 22px;
  font-weight: 500;
  color: #fff;
  padding-bottom: 15px;
}

#sm-banner .banner-box:hover button {
  background: #088178;
  color: #fff;
}

#banner3 .banner-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  background-image: url("../img/banner/b7.jpg");
  width: 30%;
  height: 30vh;
  background-position: center;
  margin-bottom: 20px;
  background-size: cover;
  transition: 0.2s ease;
}

#banner3 .banner-box2 {
  background-image: url(../img/banner/b4.jpg);
}

#banner3 .banner-box3 {
  background-image: url(../img/banner/b18.jpg);
}

#banner3 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 80px;
}
#banner3 h2 {
  font-size: 42px;
  color: #fff;
  font-weight: 900;
}

#banner3 h3 {
  font-size: 32px;
  color: #ec544e;
  font-weight: 800;
}

#newsletter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-image: url(../img/banner/b14.png);
  background-repeat: no-repeat;
  background-position: 20% 30%;
  background-color: #041e42;
}

#newsletter h4 {
  font-size: 28px;
  color: #fff;
  font-weight: 900;
}

#newsletter p {
  font-size: 22px;
  color: #818ea0;
  font-weight: 600;
}

#newsletter p span {
  font-size: 22px;
  color: #ec544e;
  font-weight: 600;
}

#newsletter input {
  width: 100%;
  height: 60px;
  font-size: 26px;
  padding: 0 20px;
  border: 1px solid transparent;
  outline: none;
  border-radius: 4px 0px 0px 4px;
}

#newsletter button {
  color: #fff;
  background-color: #088178;
  white-space: nowrap;
}

#newsletter .form {
  display: flex;
  width: 40%;
  border-radius: 0px 4px 4px 0;
}
